@import "../../app.scss";

.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: rebeccapurple;
        height: 100%;
        
        @include mobile {
          justify-content: flex-end;
          padding: 20px;
        }

        h1{//remover talves
            font-size: 80px;
            margin-left: -50%;
        }

        span{
            font-weight: bold;
            @include mobile {
              display: none;
            }
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                width: 38px;
                height: 38px;
            }
        }
    }
}